.top-header {
    text-align: center;
    margin-bottom: 5em;
    margin-top: 2em;
}
.top-header h1 {
    color: var(--text-color-second);
    font-weight: 600;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}
.col {
    flex: 1;
}

.about-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-block: 30px 20px;
    padding-inline: 20px;
    background: var(--color-white);
    border-radius: 15px;
    box-shadow: 0 5px 7px var(--first-shadow-color);
}
h3 {
    color: var(--text-color-second);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 1em;
}
.about-info p{
    line-height: 1.5;
    color: #777;
    text-align: center;
    margin-bottom: 2em;
}
.about-btn {
    display: flex;
    justify-content: end;    
}
.about-btn button{
    border-radius: 30px;
    white-space: nowrap;
} 

.skill-col {
    display: flex;
    flex-direction: row;
}
.skills-box {
    margin: 10px;
}
.skills-header{
    margin-bottom: 30px;
}
.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.skills-list span{
    font-size: 14px;
    background: var(--first-color);
    color: var(--color-white);
    padding: 2px 10px;
    border-radius: 5px;
}